:root {
    --md-primary-fg-color: hsl(352, 100%, 68%);
    --md-primary-fg-color--light: hsl(352, 100%, 76%);
    --md-primary-fg-color--dark: hsl(352, 100%, 61%);
    --md-accent-fg-color: hsl(352, 100%, 76%);
}
/* 
    --md-default-fg-color: #fff;
    --md-default-fg-color--light: #eee;
    --md-default-fg-color--lighter: #ddd;
    --md-default-fg-color--lightest: #222;
    --md-default-bg-color: #333;
    --md-default-bg-color--light: #444;
    --md-default-bg-color--lighter: #555;
    --md-default-bg-color--lightest: #666;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #fff;
    --md-accent-fg-color--transparent: hsla(231, 99%, 66%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

:root > * {
    --md-code-fg-color: #fff;
    --md-code-bg-color: #222;
    --md-code-hl-color: hsla(60, 100%, 50%, 0.5);
    --md-code-hl-number-color: hsla(0, 67%, 67%, 1);
    --md-code-hl-special-color: hsla(340, 83%, 67%, 1);
    --md-code-hl-function-color: hsla(291, 50%, 67%, 1);
    --md-code-hl-constant-color: hsla(250, 63%, 70%, 1);
    --md-code-hl-keyword-color: hsla(219, 75%, 75%, 1);
    --md-code-hl-string-color: hsla(150, 63%, 60%, 1);
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-typeset-mark-color: hsla(60, 100%, 50%, 0.5);
    --md-typeset-del-color: hsla(6, 90%, 60%, 0.15);
    --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15);
    --md-typeset-kbd-color: hsla(0, 0%, 98%, 1);
    --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
    --md-typeset-kbd-border-color: hsla(0, 0%, 72%, 1);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
    --md-footer-bg-color: #222;
    --md-footer-bg-color--dark: #222;
}
 */
